body{
    background-color: #d9d9d9;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}
.wrapper-body{
    width: 45%;
    height: 1600px;
    margin: auto;
    flex-direction: column;
    margin-top: 20px;
}
.wrapper-head{
    background-color: white;
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
}
.header{
    background-color: white;
    width: 45%;
    font-size: 8px;
    margin: auto;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0%;
    justify-content: center;
}

.middle{
    flex-direction: column;
    margin: auto
}
.element1{
    background-color: white;
    margin: auto;
    width: 100%;
    height: 350px;
    border-radius: 2px;
}
.header-in1{
    display: flex;
    height: 10%;
    margin: 0;
    font-size: 12px;
}
.header-left1{
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}
.header-rigth1{
    width: 30%;
    text-align: right;
    padding-right: 10px;
    color: gray
}
.img1{
  width: 100%;
  height: 75%;
}
.img1 > img {
    width: 100%;
    height: 99%;
}
.coment1{
    display: flex;
    height: 15%;
    font-size: 10px;
}
.coment1 > p {
    padding-left: 10px;
    padding-right: 10px;
}
.element2{
    background-color: white;
    margin: auto;
    width: 100%;
    height: 350px;
    margin-top: 45px;
    border-radius: 2px;
}
.header-in2{
    display: flex;
    height: 10%;
    margin: 0;
    font-size: 12px;
}
.header-left2{
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}
.header-rigth2{
    width: 30%;
    text-align: right;
    padding-right: 10px;
    color: gray
}
.img2{
  width: 100%;
  height: 75%;
}
.img2 > img {
    width: 100%;
    height: 99%;
}
.coment2{
    display: flex;
    height: 15%;
    font-size: 10px;
}
.coment2 > p {
    padding-left: 10px;
    padding-right: 10px;
}
.element3{
    background-color: white;
    margin: auto;
    width: 100%;
    height: 350px;
    margin-top: 45px;
    border-radius: 2px;
}
.header-in3{
    display: flex;
    height: 10%;
    margin: 0;
    font-size: 12px;
}
.header-left3{
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}
.header-rigth3{
    width: 30%;
    text-align: right;
    padding-right: 10px;
    color: gray
}
.img3{
  width: 100%;
  height: 75%;
}
.img3 > img {
    width: 100%;
    height: 99%;
}
.coment3{
    display: flex;
    height: 15%;
    font-size: 10px;
}
.coment3 > p {
    padding-left: 10px;
    padding-right: 10px;
}
.element4{
    background-color: white;
    margin: auto;
    width: 100%;
    height: 350px;
    margin-top: 45px;
    border-radius: 2px;
}
.header-in4{
    display: flex;
    height: 10%;
    margin: 0;
    font-size: 12px;
}
.header-left4{
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}
.header-rigth4{
    width: 30%;
    text-align: right;
    padding-right: 10px;
    color: gray
}
.img4{
  width: 100%;
  height: 75%;
}
.img4 > img {
    width: 100%;
    height: 99%;
}
.coment4{
    display: flex;
    height: 15%;
    font-size: 10px;
}
.coment4 > p {
    padding-left: 10px;
    padding-right: 10px;
}